# Preprocessing

## Load Data

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib 
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import pickle
import seaborn as sns
import datetime
import math
from tqdm import tqdm
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import RobustScaler, LabelEncoder
from sklearn.model_selection import cross_val_score, KFold
from scipy.stats import skew, norm

pd.set_option('display.max_columns', None) # no truncate columns

In [3]:
# Environment settings
data_path_out = 'Data/output/'
    
# Deserialize previously saved data from "data-visualization"
df = {}
for df_name in ['train', 'test', 'all', 'monthly']:
    with open(data_path_out+df_name+'_dv.obj', 'rb') as file:
        df[df_name] = pickle.load(file)
        
all_data = df['all']
train = df['train']
test = df['test']
monthly_sales = df['monthly']

## Drop features

### Max_Gust_SpeedKm_h

In [4]:
all_data = all_data.drop('Max_Gust_SpeedKm_h', axis=1)
df['train'] = df['train'].drop('Max_Gust_SpeedKm_h', axis=1)
df['test'] = df['test'].drop('Max_Gust_SpeedKm_h', axis=1)

### NumberOfCustomers

In [5]:
for df_name in ['train', 'monthly']:
    df[df_name] = df[df_name].drop('NumberOfCustomers', axis=1)

## Fill missing values

### Events

In [6]:
all_data.Events = all_data.Events.fillna('Normal')
print ('There are {} missing values of Events left'\
       .format(all_data['Events'].isna().sum(),
               all_data['Events'].isna().sum()/all_data.shape[0]*100))

There are 0 missing values of Events left

### Visibility

Since the Visibility has a high negative correlation  with Humidity, a good imputation method could be to group data by Humidity and use the median value to fill in missing values.

Intuitively the minimum visibility corresponds to the maximum humidity and viceversa.

Some humidity levels could not have visiblity values, so a good solution could be to take the mean between the two adiacent values

In [7]:
# Function that replaces missing values of the median with the mean of next and previous values
def replace_nan_median(visdict_list):
    for visdict in visdict_list:
        item_list=[visdict[x] for x in visdict.keys()]
        for val in range(len(item_list)):
            if(math.isnan(item_list[val])):
                prev_val = (val-1) < 0 and item_list[val+1]  or item_list[val-1]
                next_val = (val+1) > len(item_list) and item_list[val-1] or item_list[val+1]
                item_list[val] = float(int((prev_val+next_val)/2))
        iterator = 0
        for k,i in visdict.items():
            visdict[k] = item_list[iterator]
            iterator += 1

# Function that replaces nan in the dataframe with the dictionary
# value corresponding to the samples humidity level
def replace_nan_df(col_name1,col_name2,dictionary):
    nan_index=all_data[all_data[col_name1].isnull()].index.tolist()
    for index in tqdm(nan_index):
        humidty_lvl = all_data.loc[index,col_name2] 
        all_data.loc[index,col_name1] = dictionary[humidty_lvl]

In [8]:
min_vis_dict = all_data.groupby('Max_Humidity')['Min_VisibilitykM'].apply(lambda x: x.median()).to_dict()
max_vis_dict = all_data.groupby('Min_Humidity')['Max_VisibilityKm'].apply(lambda x: x.median()).to_dict()
mean_vis_dict = all_data.groupby('Mean_Humidity')['Mean_VisibilityKm'].apply(lambda x: x.median()).to_dict()
        
replace_nan_median([min_vis_dict,max_vis_dict,mean_vis_dict])

#Replacing nan in dataframe 
replace_nan_df('Min_VisibilitykM', 'Max_Humidity', min_vis_dict)
replace_nan_df('Max_VisibilityKm', 'Min_Humidity', max_vis_dict)
replace_nan_df('Mean_VisibilityKm', 'Mean_Humidity', mean_vis_dict)

for col in ["Min_VisibilitykM", "Max_VisibilityKm", "Mean_VisibilityKm"]:
    print ("There are {} missing values of {} left".
           format(all_data[col].isna().sum(),col))
os.system('say "Visibility Done."')

100%|██████████| 13959/13959 [00:48<00:00, 289.57it/s]
100%|██████████| 13959/13959 [00:47<00:00, 290.97it/s]
100%|██████████| 13959/13959 [00:48<00:00, 290.34it/s]

There are 0 missing values of Min_VisibilitykM left
There are 0 missing values of Max_VisibilityKm left
There are 0 missing values of Mean_VisibilityKm left

0

### Cloud Cover

In [9]:
rf = RandomForestClassifier(n_estimators=50, verbose=True)

# enable or not cross validation
cv_mode = False

cloud_data = all_data.copy()
cloud_data = pd.get_dummies(cloud_data)
cloud_data['Date_delta'] = (cloud_data['Date'] - cloud_data['Date'].min()) / np.timedelta64(1, 'D')
cloud_data = cloud_data.drop('Date', axis=1)
nan_indexes = cloud_data[cloud_data['CloudCover'].isnull()].index.tolist()
good_indexes = cloud_data[~cloud_data['CloudCover'].isnull()].index.tolist()

train_cloud = cloud_data.loc[good_indexes]
test_cloud = cloud_data.loc[nan_indexes]
print(train_cloud.shape)
print(test_cloud.shape)

X_train_cloud = train_cloud.copy()
X_train_cloud = X_train_cloud.drop(['CloudCover'], axis=1)
y_train_cloud = train_cloud['CloudCover']
test_cloud = test_cloud.drop('CloudCover',axis=1)

scaler = RobustScaler()
X_train_cloud = scaler.fit_transform(X_train_cloud)
test_cloud = scaler.transform(test_cloud)

if(cv_mode):
    kf = KFold(5, shuffle=True, random_state=42).get_n_splits(X_train_cloud)
    score_CV = cross_val_score(rf, X_train_cloud, y_train_cloud, cv=kf)

    print("The 10-fold crossvalidation of RF is {:.5f} +/- {:.3f}".format(score_CV.mean(),score_CV.std()))
    os.system('say "Crossvalidation done."')

(519111, 69)
(49599, 69)

In [10]:
rf.fit(X_train_cloud,y_train_cloud)
pred_results = rf.predict(test_cloud)
nan_index = cloud_data[cloud_data['CloudCover'].isnull()].index.tolist()
result_df = pd.DataFrame(data={'Index' : nan_index,
                               'CloudCover': pred_results}).set_index('Index')
#replace missing values
for i in tqdm(nan_index):
    all_data.loc[i,'CloudCover'] = result_df.loc[i,'CloudCover']

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  1.1min finished
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.6s finished
100%|██████████| 49599/49599 [02:10<00:00, 380.90it/s]

## Missing day
Missing day 2016-03-03 in the whole in dataset. It has been decided to ignore it since it wouldn't affect much the prediction.

In [11]:
all_data[all_data.Date == '2016-03-03'].shape[0]

0

## Region 2 missing values
Fill missing data in datetime range 2017-07-04/2018-01-03 (extremes included).

### Analisys of missing dates window

In [12]:
# Missing window data from store 1004 from Region 2
all_data[all_data.StoreID == 1004].loc[(all_data.Date >= '2017-07-02') & (all_data.Date <= '2018-01-05')]

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,Region_AreaKM2,Region_GDP,Region_PopulationK,CloudCover,Events,Max_Dew_PointC,Max_Humidity,Max_Sea_Level_PressurehPa,Max_TemperatureC,Max_VisibilityKm,Max_Wind_SpeedKm_h,Mean_Dew_PointC,Mean_Humidity,Mean_Sea_Level_PressurehPa,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
3403,1004,2017-07-02,False,False,False,Hyper Market,General,11805,2,32221,16186,5727,7.0,Rain,15,94,1013,17,10.0,27,13,92,1012,14,9.0,14,11,88,1010,12,5.0,0.0,217
3404,1004,2017-07-03,False,True,True,Hyper Market,General,11805,2,32221,16186,5727,5.0,Rain-Thunderstorm,13,94,1019,17,10.0,26,11,85,1015,13,10.0,14,9,63,1013,11,4.0,0.0,260
3405,1004,2018-01-04,True,False,False,Hyper Market,General,11805,2,32221,16186,5727,5.0,Fog,-2,100,1036,0,6.0,11,-5,95,1035,-5,2.0,6,-10,80,1034,-10,0.0,0.0,232
3406,1004,2018-01-05,False,True,False,Hyper Market,General,11805,2,32221,16186,5727,7.0,Fog-Rain,2,100,1034,3,10.0,35,-3,96,1031,-4,6.0,11,-12,87,1029,-11,1.0,0.0,243

In [13]:
# Compare size of the dataset with a store without missing window date
print('''Size of the dataset of a store:
- from region 2: {}
- from another region: {}

total missing: {}'''
      .format(all_data[all_data.StoreID == 1004].shape[0],
              all_data[all_data.StoreID == 1006].shape[0],
             all_data[all_data.StoreID == 1006].shape[0]-all_data[all_data.StoreID == 1004].shape[0]))

Size of the dataset of a store:
- from region 2: 606
- from another region: 790

total missing: 184

### Window dates filling

In [46]:
# create date range dataframe
date_missing_start = '2017-07-04'
date_missing_end = '2018-01-03'

date_range = pd.date_range(date_missing_start, date_missing_end)

reg_features=[]

#Get regional features
for feature_name in ['Region_AreaKM2', 'Region_GDP', 'Region_PopulationK']:
    reg_features.append(all_data[all_data.Region == '2'][feature_name].unique()[0])

#Create new data for dataframe
store_ids_array  = np.repeat(all_data[all_data.Region == '2']['StoreID'].unique(),184)
date_array = np.tile(date_range,125)

# create df and set dtypes
df_region2 = pd.DataFrame(data={'StoreID':store_ids_array,
                                'Date': date_array,
                                'Region': '2',
                                'Region_AreaKM2': reg_features[0],
                                'Region_GDP':reg_features[1],
                                'Region_PopulationK':reg_features[2]})


df_region2.Date = pd.to_datetime(df_region2.Date)
df_region2.Region = df_region2.Region.astype('category')
df_region2.StoreID = df_region2.StoreID.astype('int')


print(df_region2.shape)
df_region2.head()

(23000, 6)

   StoreID       Date Region  Region_AreaKM2  Region_GDP  Region_PopulationK
0     1738 2017-07-04      2           32221       16186                5727
1     1738 2017-07-05      2           32221       16186                5727
2     1738 2017-07-06      2           32221       16186                5727
3     1738 2017-07-07      2           32221       16186                5727
4     1738 2017-07-08      2           32221       16186                5727

#### Trivial replacements

In [69]:
for dateID,date in df_region2.groupby('Date'):
    df_region2.loc[df_region2.Date==dateID,'HasPromotions'] =\
    all_data[(all_data.StoreID == 1006) &(all_data.Date == dateID)]['HasPromotions'].unique()

for storeID,store in df_region2.groupby('StoreID'):
    df_region2.loc[df_region2.StoreID==storeID,'StoreType'] =\
    all_data[(all_data.StoreID == storeID)]['StoreType'].unique()[0]
    
    df_region2.loc[df_region2.StoreID==storeID,'AssortmentType'] =\
    all_data[(all_data.StoreID == storeID)]['AssortmentType'].unique()[0]
    
    df_region2.loc[df_region2.StoreID==storeID,'NearestCompetitor'] =\
    all_data[(all_data.StoreID == storeID)]['NearestCompetitor'].unique()[0]

#### Replacement by most correlated region

In [70]:
# Group all_data by Region
dic_all = {
    'IsHoliday': 'mean',
    'IsOpen': 'mean',
    'HasPromotions': 'mean',
    'NearestCompetitor': 'mean',
    'Region_AreaKM2': 'mean',
    'Region_GDP': 'mean',
    'Region_PopulationK': 'mean',
    'CloudCover': 'mean',
    'Max_Humidity': 'mean',
    'Max_Dew_PointC': 'mean',
    'Max_Sea_Level_PressurehPa': 'mean',
    'Max_TemperatureC': 'mean',
    'Max_VisibilityKm': 'mean',
    'Max_Wind_SpeedKm_h': 'mean',
    'Mean_Dew_PointC': 'mean',
    'Mean_Humidity': 'mean',
    'Mean_Sea_Level_PressurehPa': 'mean',
    'Mean_TemperatureC': 'mean',
    'Mean_VisibilityKm': 'mean',
    'Mean_Wind_SpeedKm_h': 'mean',
    'Min_Dew_PointC': 'mean',
    'Min_Humidity': 'mean',
    'Min_Sea_Level_PressurehPa': 'mean',
    'Min_TemperatureC': 'mean',
    'Min_VisibilitykM': 'mean',
    'Precipitationmm': 'mean',
    'WindDirDegrees': 'mean'}


# Define train_data grouped by Region in common date range
all_data_byRegion = all_data.groupby(['Region', pd.Grouper(key='Date', freq='D')])\
.agg(dic_all).reset_index()

all_data_common_byRegion =\
all_data_byRegion.loc[(all_data_byRegion.Date >= '2016-03-01') &
                      (all_data_byRegion.Date <= '2017-07-03')]

all_data_missing_byRegion =\
all_data_byRegion[all_data_byRegion.Region != '2']\
.loc[(all_data_byRegion.Date >= date_missing_start) &
     (all_data_byRegion.Date <= date_missing_end)]

# Define train_data grouped by Region in common date range
all_data_byRegion_except_region2 = all_data_common_byRegion[all_data_common_byRegion.Region != '2']
all_data_byRegion_except_region2.Region.cat.remove_unused_categories(inplace=True)

DataError: No numeric types to aggregate

In [73]:
# Replace by most correlated region
median_correction = ['Max_TemperatureC', 'CloudCover', 'Max_Sea_Level_PressurehPa',
                     'Max_Wind_SpeedKm_h', 'Max_Dew_PointC', 'WindDirDegrees',
                     'Mean_Dew_PointC', 'Mean_Sea_Level_PressurehPa', 'Mean_TemperatureC',
                     'Mean_Wind_SpeedKm_h', 'Min_Dew_PointC', 'Min_Sea_Level_PressurehPa',
                     'Min_VisibilitykM']

print('Most correlated region for the given feature')
print('{:<30}{:10}{:>10}'.format('FEATURE', 'REGION', 'CORRELATION'))
print('-' * (30+10+10))

# get the date range
for feature_name in median_correction:
    # compute correlation for each region wrt region 2 for current feature
    corr_byRegion = {}
    for region_name, region in all_data_byRegion_except_region2.groupby('Region'):
        region = region[feature_name]
        region_2 = all_data_common_byRegion[feature_name][all_data_common_byRegion.Region == '2']
        
        corr_byRegion[region_name] = pd.np.corrcoef(region_2, region)[1,0]
    
    # get region with max correlation for the current feature
    max_corr_region = max(corr_byRegion, key=corr_byRegion.get)
    
    print('{:<30}{:10}{:10.4f}'.format(feature_name, max_corr_region, corr_byRegion[max_corr_region]))
    
    # replace missing feature for date window with most correlated region feature 
    feature_column = all_data_missing_byRegion[all_data_missing_byRegion.Region == max_corr_region]\
    [feature_name].reset_index().drop('index', axis=1)
    print(feature_column)
    df_region2 = pd.concat([df_region2, feature_column], axis=1)
    
df_region2[df_region2.Date >= date_missing_start].isna().sum()

Most correlated region for the given feature
FEATURE                       REGION    CORRELATION
--------------------------------------------------
Max_TemperatureC              6             0.9603
     Max_TemperatureC
0                  22
1                  22
2                  27
3                  30
4                  23
5                  30
6                  24
7                  16
8                  13
9                  16
10                 23
11                 22
12                 24
13                 22
14                 24
15                 26
16                 28
17                 31
18                 33
19                 28
20                 21
21                 24
22                 27
23                 26
24                 25
25                 21
26                 26
27                 27
28                 20
29                 22
..                ...
154                 3
155                 3
156                 4
157                 3
158                 3
159                 3
160                 5
161                 2
162                 4
163                 7
164                 9
165                11
166                 9
167                 9
168                 6
169                 7
170                12
171                11
172                 6
173                 7
174                10
175                12
176                 9
177                 5
178                 4
179                 2
180                -3
181                -1
182                 1
183                 1

[184 rows x 1 columns]
CloudCover                    1             0.5504
     CloudCover
0      2.000000
1      2.000000
2      1.291667
3      6.000000
4      6.000000
5      3.000000
6      6.000000
7      7.000000
8      7.000000
9      6.000000
10     5.000000
11     3.000000
12     6.000000
13     4.000000
14     5.000000
15     5.000000
16     2.000000
17     1.000000
18     1.000000
19     6.000000
20     6.000000
21     5.000000
22     2.000000
23     4.000000
24     6.000000
25     6.000000
26     6.000000
27     5.000000
28     6.000000
29     7.000000
..          ...
154    8.000000
155    8.000000
156    7.000000
157    7.000000
158    7.000000
159    7.000000
160    4.000000
161    4.000000
162    6.000000
163    6.000000
164    6.000000
165    7.000000
166    7.000000
167    6.000000
168    6.000000
169    7.000000
170    7.000000
171    6.000000
172    5.000000
173    6.000000
174    7.000000
175    6.000000
176    7.000000
177    4.000000
178    4.000000
179    8.000000
180    6.000000
181    6.000000
182    7.000000
183    7.000000

[184 rows x 1 columns]
Max_Sea_Level_PressurehPa     6             0.9825
     Max_Sea_Level_PressurehPa
0                         1019
1                         1024
2                         1026
3                         1021
4                         1014
5                         1014
6                         1017
7                         1013
8                         1011
9                         1012
10                        1014
11                        1014
12                        1014
13                        1019
14                        1023
15                        1023
16                        1023
17                        1021
18                        1017
19                        1013
20                        1014
21                        1017
22                        1017
23                        1014
24                        1014
25                        1016
26                        1017
27                        1016
28                        1011
29                        1015
..                         ...
154                       1014
155                       1018
156                       1017
157                       1021
158                       1025
159                       1025
160                       1023
161                       1032
162                       1032
163                       1021
164                       1017
165                       1015
166                       1018
167                       1018
168                       1017
169                       1018
170                       1020
171                       1022
172                       1030
173                       1035
174                       1031
175                       1027
176                       1026
177                       1029
178                       1031
179                       1024
180                       1035
181                       1037
182                       1038
183                       1038

[184 rows x 1 columns]
Max_Wind_SpeedKm_h            6             0.6525
     Max_Wind_SpeedKm_h
0                    14
1                    13
2                    11
3                    26
4                    29
5                    47
6                    32
7                    21
8                    24
9                    16
10                   16
11                   26
12                   26
13                   26
14                   11
15                   14
16                   11
17                   13
18                   11
19                   29
20                   16
21                   23
22                   23
23                   21
24                   29
25                   16
26                   19
27                   29
28                   11
29                   27
..                  ...
154                  11
155                  14
156                  14
157                   8
158                  14
159                  13
160                  19
161                  10
162                  16
163                  34
164                  32
165                  21
166                  16
167                  10
168                  16
169                  19
170                  23
171                  27
172                  29
173                  29
174                  23
175                  14
176                  23
177                  29
178                  14
179                  16
180                  26
181                  16
182                  16
183                  10

[184 rows x 1 columns]
Max_Dew_PointC                6             0.9609
     Max_Dew_PointC
0                11
1                13
2                13
3                13
4                16
5                17
6                17
7                15
8                12
9                14
10               16
11               17
12               15
13               17
14               15
15               15
16               16
17               16
18               17
19               18
20               18
21               20
22               17
23               14
24               17
25               18
26               16
27               18
28               17
29               19
..              ...
154               3
155               3
156               2
157               3
158               3
159               2
160               2
161               1
162               2
163               3
164               4
165               5
166               8
167               8
168               5
169               5
170              10
171               8
172               6
173               3
174               4
175               3
176               4
177               6
178               1
179               1
180               0
181              -3
182               0
183              -1

[184 rows x 1 columns]

/Users/yannickgiovanakis/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3183: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/yannickgiovanakis/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3184: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

WindDirDegrees                6             0.5041
     WindDirDegrees
0                37
1               190
2               142
3                51
4               229
5               177
6                19
7               233
8               244
9               241
10              317
11              272
12              237
13              216
14              255
15              345
16               42
17              193
18               85
19              297
20              256
21              327
22               66
23              357
24              279
25              299
26              282
27               58
28              249
29              289
..              ...
154               3
155               6
156             144
157              60
158              11
159             280
160             222
161              27
162             207
163             222
164             212
165             215
166             209
167             243
168             252
169             222
170             220
171             231
172             241
173             223
174             230
175             297
176             224
177             253
178             256
179             157
180             355
181             245
182             276
183             217

[184 rows x 1 columns]
Mean_Dew_PointC               6             0.9597
     Mean_Dew_PointC
0                  8
1                 10
2                  9
3                 11
4                 14
5                 14
6                 16
7                 13
8                 11
9                 11
10                14
11                15
12                13
13                15
14                12
15                13
16                12
17                12
18                13
19                15
20                17
21                18
22                14
23                12
24                14
25                16
26                15
27                16
28                16
29                17
..               ...
154                2
155                2
156                1
157                2
158                2
159                1
160                1
161                0
162               -1
163                2
164                2
165                3
166                7
167                6
168                3
169                2
170                7
171                7
172                1
173                2
174                2
175                0
176                1
177                1
178                0
179               -1
180               -7
181               -8
182               -2
183               -1

[184 rows x 1 columns]
Mean_Sea_Level_PressurehPa    6             0.9892
     Mean_Sea_Level_PressurehPa
0                          1018
1                          1020
2                          1024
3                          1014
4                          1012
5                          1012
6                          1015
7                          1010
8                          1010
9                          1010
10                         1012
11                         1013
12                         1012
13                         1014
14                         1021
15                         1022
16                         1022
17                         1019
18                         1014
19                         1011
20                         1012
21                         1013
22                         1015
23                         1013
24                         1013
25                         1014
26                         1015
27                         1012
28                         1009
29                         1010
..                          ...
154                        1010
155                        1015
156                        1015
157                        1018
158                        1021
159                        1022
160                        1020
161                        1026
162                        1024
163                        1017
164                        1011
165                        1011
166                        1016
167                        1016
168                        1014
169                        1013
170                        1017
171                        1019
172                        1025
173                        1032
174                        1027
175                        1024
176                        1022
177                        1025
178                        1028
179                        1004
180                        1015
181                        1032
182                        1034
183                        1035

[184 rows x 1 columns]
Mean_TemperatureC             6             0.9668
     Mean_TemperatureC
0                   16
1                   17
2                   18
3                   21
4                   19
5                   22
6                   19
7                   14
8                   12
9                   13
10                  18
11                  19
12                  19
13                  19
14                  20
15                  20
16                  22
17                  22
18                  24
19                  23
20                  18
21                  21
22                  21
23                  20
24                  20
25                  18
26                  21
27                  21
28                  18
29                  19
..                 ...
154                  2
155                  2
156                  3
157                  3
158                  3
159                  2
160                  3
161                  0
162                  1
163                  4
164                  7
165                  8
166                  8
167                  6
168                  3
169                  3
170                  8
171                  9
172                  4
173                  4
174                  7
175                  6
176                  3
177                  4
178                  2
179                  0
180                 -7
181                 -8
182                 -1
183                  0

[184 rows x 1 columns]
Mean_Wind_SpeedKm_h           6             0.7335
     Mean_Wind_SpeedKm_h
0                      5
1                      6
2                      5
3                      6
4                     14
5                      5
6                      6
7                      8
8                     14
9                      8
10                     8
11                    10
12                    10
13                     6
14                     5
15                     5
16                     5
17                     3
18                     5
19                     6
20                     6
21                    13
22                     6
23                     6
24                     5
25                     5
26                     8
27                     6
28                     5
29                     8
..                   ...
154                    6
155                   10
156                    6
157                    5
158                    8
159                    8
160                    8
161                    3
162                    8
163                   16
164                   16
165                   11
166                    8
167                    6
168                    5
169                   10
170                   11
171                   16
172                   16
173                   13
174                   13
175                    8
176                   10
177                   18
178                   10
179                    8
180                   13
181                    6
182                   10
183                    5

[184 rows x 1 columns]
Min_Dew_PointC                6             0.9249
     Min_Dew_PointC
0                 4
1                 7
2                 4
3                 8
4                 9
5                11
6                13
7                11
8                 9
9                 9
10               12
11               14
12               12
13               14
14                9
15               11
16                7
17                6
18               10
19               13
20               16
21               17
22               10
23                6
24               12
25               13
26               13
27               14
28               15
29               16
..              ...
154               2
155               2
156               1
157               1
158               2
159              -1
160              -1
161              -2
162              -2
163               2
164               1
165               0
166               4
167               1
168               0
169              -1
170               4
171               5
172              -1
173               0
174               1
175              -2
176              -3
177              -1
178              -1
179              -3
180             -13
181             -15
182              -4
183              -2

[184 rows x 1 columns]
Min_Sea_Level_PressurehPa     6             0.9816
     Min_Sea_Level_PressurehPa
0                         1015
1                         1018
2                         1020
3                         1006
4                         1008
5                         1007
6                         1011
7                         1009
8                         1009
9                         1008
10                        1011
11                        1011
12                        1008
13                        1011
14                        1019
15                        1020
16                        1019
17                        1015
18                        1009
19                        1009
20                        1011
21                        1010
22                        1012
23                        1010
24                        1010
25                        1012
26                        1013
27                        1007
28                        1007
29                        1008
..                         ...
154                       1007
155                       1012
156                       1013
157                       1016
158                       1019
159                       1020
160                       1017
161                       1018
162                       1018
163                       1014
164                       1007
165                       1008
166                       1013
167                       1015
168                       1012
169                       1008
170                       1014
171                       1017
172                       1022
173                       1029
174                       1024
175                       1022
176                       1021
177                       1021
178                       1022
179                        996
180                        998
181                       1029
182                       1032
183                       1033

[184 rows x 1 columns]
Min_VisibilitykM              6             0.3587
     Min_VisibilitykM
0                10.0
1                 6.0
2                10.0
3                10.0
4                10.0
5                 7.0
6                 6.0
7                 6.0
8                 6.0
9                 5.0
10                6.0
11                8.0
12               10.0
13                6.0
14               10.0
15               10.0
16               10.0
17               10.0
18               10.0
19                5.0
20                7.0
21                2.0
22                0.0
23               10.0
24               10.0
25                8.0
26               10.0
27                3.0
28                3.0
29                5.0
..                ...
154               2.0
155               0.0
156               2.0
157               4.0
158               3.0
159               8.0
160              10.0
161               3.0
162               2.0
163              10.0
164              10.0
165              10.0
166              10.0
167               3.0
168               6.0
169              10.0
170               5.0
171              10.0
172              10.0
173              10.0
174              10.0
175              10.0
176              10.0
177              10.0
178               2.0
179               0.0
180               1.0
181               2.0
182               1.0
183               6.0

[184 rows x 1 columns]

StoreID                           0
Date                              0
Region                            0
Region_AreaKM2                    0
Region_GDP                        0
Region_PopulationK                0
HasPromotions                     0
StoreType                         0
Max_TemperatureC              22816
CloudCover                    22816
Max_Sea_Level_PressurehPa     22816
Max_Wind_SpeedKm_h            22816
Max_Dew_PointC                22816
WindDirDegrees                22816
Mean_Dew_PointC               22816
Mean_Sea_Level_PressurehPa    22816
Mean_TemperatureC             22816
Mean_Wind_SpeedKm_h           22816
Min_Dew_PointC                22816
Min_Sea_Level_PressurehPa     22816
Min_VisibilitykM              22816
IsHoliday                         0
IsOpen                            0
AssortmentType                    0
NearestCompetitor                 0
Max_TemperatureC              22816
CloudCover                    22816
Max_Sea_Level_PressurehPa     22816
Max_Wind_SpeedKm_h            22816
Max_Dew_PointC                22816
                              ...
Mean_Wind_SpeedKm_h           22816
Min_Dew_PointC                22816
Min_Sea_Level_PressurehPa     22816
Min_VisibilitykM              22816
Max_TemperatureC              22816
CloudCover                    22816
Max_Sea_Level_PressurehPa     22816
Max_Wind_SpeedKm_h            22816
Max_Dew_PointC                22816
WindDirDegrees                22816
Mean_Dew_PointC               22816
Mean_Sea_Level_PressurehPa    22816
Mean_TemperatureC             22816
Mean_Wind_SpeedKm_h           22816
Min_Dew_PointC                22816
Min_Sea_Level_PressurehPa     22816
Min_VisibilitykM              22816
Max_TemperatureC              22816
CloudCover                    22816
Max_Sea_Level_PressurehPa     22816
Max_Wind_SpeedKm_h            22816
Max_Dew_PointC                22816
WindDirDegrees                22816
Mean_Dew_PointC               22816
Mean_Sea_Level_PressurehPa    22816
Mean_TemperatureC             22816
Mean_Wind_SpeedKm_h           22816
Min_Dew_PointC                22816
Min_Sea_Level_PressurehPa     22816
Min_VisibilitykM              22816
Length: 64, dtype: int64

#### IsHoliday replacement

In [61]:
df_region2['IsHoliday']= False
missing_holidays = all_data[(all_data.StoreID==1001)&\
         (all_data.IsHoliday==True)&\
         (all_data.Date>=date_missing_start)]['Date'].values

for missing_hol in missing_holidays :
    df_region2.loc[df_region2.Date == missing_hol,'IsHoliday'] = True

#manual add for august 18
df_region2.loc[df_region2.Date=='18-08-2017','IsHoliday']= True

#### IsOpen replacement

In [62]:
df_region2['IsOpen']=True
closed_df=all_data[(all_data['IsOpen']==True)& (all_data['IsHoliday']==True)&\
                   (all_data['Region']=='2') & (all_data['Date']<date_missing_start)]

In [63]:
#On holiday shops are closed. Except on 18-08 for some stores
df_region2.loc[df_region2.IsHoliday==True,'IsOpen']=False
for storeID in closed_df['StoreID'].values:
    df_region2.loc[(df_region2.Date=='18-08-2017')&(df_region2.StoreID == storeID),'IsOpen']=True

In [64]:
#Weekly closure of shops
for storeID  in all_data[all_data.Region == '2']['StoreID'].unique():
    non_holiday_closures=all_data[(all_data['IsOpen']==False)& (all_data['IsHoliday']==False)&\
            (all_data['StoreID']==storeID) & (all_data['Date']<date_missing_start)].count()[0]
    print("Store {} has {} non holiday closures".format(storeID,non_holiday_closures))

Store 1738 has 70 non holiday closures
Store 1737 has 70 non holiday closures
Store 1719 has 70 non holiday closures
Store 1717 has 70 non holiday closures
Store 1715 has 70 non holiday closures
Store 1708 has 70 non holiday closures
Store 1705 has 70 non holiday closures
Store 1675 has 70 non holiday closures
Store 1673 has 70 non holiday closures
Store 1670 has 70 non holiday closures
Store 1665 has 70 non holiday closures
Store 1659 has 70 non holiday closures
Store 1655 has 70 non holiday closures
Store 1653 has 70 non holiday closures
Store 1651 has 70 non holiday closures
Store 1642 has 70 non holiday closures
Store 1632 has 70 non holiday closures
Store 1625 has 70 non holiday closures
Store 1617 has 70 non holiday closures
Store 1603 has 87 non holiday closures
Store 1601 has 70 non holiday closures
Store 1598 has 70 non holiday closures
Store 1597 has 70 non holiday closures
Store 1595 has 70 non holiday closures
Store 1594 has 70 non holiday closures
Store 1588 has 70 non holiday closures
Store 1586 has 70 non holiday closures
Store 1585 has 70 non holiday closures
Store 1579 has 70 non holiday closures
Store 1574 has 70 non holiday closures
Store 1569 has 70 non holiday closures
Store 1565 has 73 non holiday closures
Store 1556 has 70 non holiday closures
Store 1542 has 70 non holiday closures
Store 1541 has 70 non holiday closures
Store 1533 has 70 non holiday closures
Store 1515 has 70 non holiday closures
Store 1511 has 70 non holiday closures
Store 1510 has 70 non holiday closures
Store 1509 has 70 non holiday closures
Store 1506 has 70 non holiday closures
Store 1505 has 70 non holiday closures
Store 1503 has 70 non holiday closures
Store 1501 has 70 non holiday closures
Store 1497 has 70 non holiday closures
Store 1483 has 70 non holiday closures
Store 1478 has 70 non holiday closures
Store 1476 has 70 non holiday closures
Store 1473 has 70 non holiday closures
Store 1456 has 70 non holiday closures
Store 1455 has 70 non holiday closures
Store 1435 has 70 non holiday closures
Store 1426 has 70 non holiday closures
Store 1425 has 70 non holiday closures
Store 1423 has 70 non holiday closures
Store 1422 has 70 non holiday closures
Store 1418 has 70 non holiday closures
Store 1417 has 70 non holiday closures
Store 1415 has 70 non holiday closures
Store 1414 has 70 non holiday closures
Store 1410 has 70 non holiday closures
Store 1407 has 70 non holiday closures
Store 1395 has 70 non holiday closures
Store 1391 has 70 non holiday closures
Store 1379 has 70 non holiday closures
Store 1371 has 70 non holiday closures
Store 1368 has 70 non holiday closures
Store 1366 has 70 non holiday closures
Store 1360 has 70 non holiday closures
Store 1358 has 70 non holiday closures
Store 1356 has 70 non holiday closures
Store 1346 has 70 non holiday closures
Store 1345 has 78 non holiday closures
Store 1344 has 70 non holiday closures
Store 1343 has 70 non holiday closures
Store 1335 has 70 non holiday closures
Store 1301 has 70 non holiday closures
Store 1292 has 70 non holiday closures
Store 1290 has 70 non holiday closures
Store 1288 has 70 non holiday closures
Store 1287 has 70 non holiday closures
Store 1285 has 70 non holiday closures
Store 1282 has 70 non holiday closures
Store 1268 has 70 non holiday closures
Store 1256 has 70 non holiday closures
Store 1254 has 70 non holiday closures
Store 1243 has 70 non holiday closures
Store 1226 has 70 non holiday closures
Store 1220 has 70 non holiday closures
Store 1202 has 70 non holiday closures
Store 1201 has 74 non holiday closures
Store 1179 has 70 non holiday closures
Store 1178 has 70 non holiday closures
Store 1166 has 70 non holiday closures
Store 1163 has 70 non holiday closures
Store 1161 has 70 non holiday closures
Store 1154 has 70 non holiday closures
Store 1136 has 70 non holiday closures
Store 1133 has 70 non holiday closures
Store 1131 has 70 non holiday closures
Store 1123 has 70 non holiday closures
Store 1121 has 70 non holiday closures
Store 1119 has 70 non holiday closures
Store 1117 has 70 non holiday closures
Store 1112 has 70 non holiday closures
Store 1105 has 70 non holiday closures
Store 1103 has 70 non holiday closures
Store 1100 has 70 non holiday closures
Store 1097 has 70 non holiday closures
Store 1096 has 70 non holiday closures
Store 1093 has 70 non holiday closures
Store 1082 has 70 non holiday closures
Store 1079 has 70 non holiday closures
Store 1075 has 70 non holiday closures
Store 1068 has 79 non holiday closures
Store 1057 has 70 non holiday closures
Store 1056 has 70 non holiday closures
Store 1051 has 70 non holiday closures
Store 1045 has 70 non holiday closures
Store 1044 has 70 non holiday closures
Store 1043 has 70 non holiday closures
Store 1039 has 70 non holiday closures
Store 1031 has 70 non holiday closures
Store 1016 has 70 non holiday closures
Store 1004 has 70 non holiday closures

In [65]:
#Weekly closing fill ( outliers ignored ), 1028 has 70 non holiday closured
closing_days = all_data[(all_data['StoreID']==1028)&(all_data['IsHoliday']==False)&\
                        (all_data['Date']>=date_missing_start)&(all_data['IsOpen']==False)]['Date'].values

for dateID in closing_days:
    df_region2.loc[df_region2.Date==dateID ,'IsOpen']=False

#### Replacement by single store from Region 2 and concatenation with dataset

In [66]:
df_region2

,StoreID,Date,Region,Region_AreaKM2,Region_GDP,Region_PopulationK,HasPromotions,StoreType,Max_TemperatureC,CloudCover,Max_Sea_Level_PressurehPa,Max_Wind_SpeedKm_h,Max_Dew_PointC,WindDirDegrees,Mean_Dew_PointC,Mean_Sea_Level_PressurehPa,Mean_TemperatureC,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Sea_Level_PressurehPa,Min_VisibilitykM,IsHoliday,IsOpen,AssortmentType,NearestCompetitor
0,1738,2017-07-04,2,32221,16186,5727,True,Super Market,22.0,2.000000,1019.0,14.0,11.0,37.0,8.0,1018.0,16.0,5.0,4.0,1015.0,10.0,False,True,General,2343.0
1,1738,2017-07-05,2,32221,16186,5727,True,Super Market,22.0,2.000000,1024.0,13.0,13.0,190.0,10.0,1020.0,17.0,6.0,7.0,1018.0,6.0,False,True,General,2343.0
2,1738,2017-07-06,2,32221,16186,5727,True,Super Market,27.0,1.291667,1026.0,11.0,13.0,142.0,9.0,1024.0,18.0,5.0,4.0,1020.0,10.0,False,True,General,2343.0
3,1738,2017-07-07,2,32221,16186,5727,True,Super Market,30.0,6.000000,1021.0,26.0,13.0,51.0,11.0,1014.0,21.0,6.0,8.0,1006.0,10.0,False,True,General,2343.0
4,1738,2017-07-08,2,32221,16186,5727,False,Super Market,23.0,6.000000,1014.0,29.0,16.0,229.0,14.0,1012.0,19.0,14.0,9.0,1008.0,10.0,False,True,General,2343.0
5,1738,2017-07-09,2,32221,16186,5727,False,Super Market,30.0,3.000000,1014.0,47.0,17.0,177.0,14.0,1012.0,22.0,5.0,11.0,1007.0,7.0,False,False,General,2343.0
6,1738,2017-07-10,2,32221,16186,5727,False,Super Market,24.0,6.000000,1017.0,32.0,17.0,19.0,16.0,1015.0,19.0,6.0,13.0,1011.0,6.0,False,True,General,2343.0
7,1738,2017-07-11,2,32221,16186,5727,False,Super Market,16.0,7.000000,1013.0,21.0,15.0,233.0,13.0,1010.0,14.0,8.0,11.0,1009.0,6.0,False,True,General,2343.0
8,1738,2017-07-12,2,32221,16186,5727,False,Super Market,13.0,7.000000,1011.0,24.0,12.0,244.0,11.0,1010.0,12.0,14.0,9.0,1009.0,6.0,False,True,General,2343.0
9,1738,2017-07-13,2,32221,16186,5727,False,Super Market,16.0,6.000000,1012.0,16.0,14.0,241.0,11.0,1010.0,13.0,8.0,9.0,1008.0,5.0,False,True,General,2343.0
10,1738,2017-07-14,2,32221,16186,5727,False,Super Market,23.0,5.000000,1014.0,16.0,16.0,317.0,14.0,1012.0,18.0,8.0,12.0,1011.0,6.0,False,True,General,2343.0
11,1738,2017-07-15,2,32221,16186,5727,False,Super Market,22.0,3.000000,1014.0,26.0,17.0,272.0,15.0,1013.0,19.0,10.0,14.0,1011.0,8.0,False,True,General,2343.0
12,1738,2017-07-16,2,32221,16186,5727,False,Super Market,24.0,6.000000,1014.0,26.0,15.0,237.0,13.0,1012.0,19.0,10.0,12.0,1008.0,10.0,False,False,General,2343.0
13,1738,2017-07-17,2,32221,16186,5727,True,Super Market,22.0,4.000000,1019.0,26.0,17.0,216.0,15.0,1014.0,19.0,6.0,14.0,1011.0,6.0,False,True,General,2343.0
14,1738,2017-07-18,2,32221,16186,5727,True,Super Market,24.0,5.000000,1023.0,11.0,15.0,255.0,12.0,1021.0,20.0,5.0,9.0,1019.0,10.0,False,True,General,2343.0
15,1738,2017-07-19,2,32221,16186,5727,True,Super Market,26.0,5.000000,1023.0,14.0,15.0,345.0,13.0,1022.0,20.0,5.0,11.0,1020.0,10.0,False,True,General,2343.0
16,1738,2017-07-20,2,32221,16186,5727,True,Super Market,28.0,2.000000,1023.0,11.0,16.0,42.0,12.0,1022.0,22.0,5.0,7.0,1019.0,10.0,False,True,General,2343.0
17,1738,2017-07-21,2,32221,16186,5727,True,Super Market,31.0,1.000000,1021.0,13.0,16.0,193.0,12.0,1019.0,22.0,3.0,6.0,1015.0,10.0,False,True,General,2343.0
18,1738,2017-07-22,2,32221,16186,5727,False,Super Market,33.0,1.000000,1017.0,11.0,17.0,85.0,13.0,1014.0,24.0,5.0,10.0,1009.0,10.0,False,True,General,2343.0
19,1738,2017-07-23,2,32221,16186,5727,False,Super Market,28.0,6.000000,1013.0,29.0,18.0,297.0,15.0,1011.0,23.0,6.0,13.0,1009.0,5.0,False,False,General,2343.0
20,1738,2017-07-24,2,32221,16186,5727,False,Super Market,21.0,6.000000,1014.0,16.0,18.0,256.0,17.0,1012.0,18.0,6.0,16.0,1011.0,7.0,False,True,General,2343.0
21,1738,2017-07-25,2,32221,16186,5727,False,Super Market,24.0,5.000000,1017.0,23.0,20.0,327.0,18.0,1013.0,21.0,13.0,17.0,1010.0,2.0,False,True,General,2343.0
22,1738,2017-07-26,2,32221,16186,5727,False,Super Market,27.0,2.000000,1017.0,23.0,17.0,66.0,14.0,1015.0,21.0,6.0,10.0,1012.0,0.0,False,True,General,2343.0
23,1738,2017-07-27,2,32221,16186,5727,False,Super Market,26.0,4.000000,1014.0,21.0,14.0,357.0,12.0,1013.0,20.0,6.0,6.0,1010.0,10.0,False,True,General,2343.0
24,1738,2017-07-28,2,32221,16186,5727,False,Super Market,25.0,6.000000,1014.0,29.0,17.0,279.0,14.0,1013.0,20.0,5.0,12.0,1010.0,10.0,False,True,General,2343.0
25,1738,2017-07-29,2,32221,16186,5727,False,Super Market,21.0,6.000000,1016.0,16.0,18.0,299.0,16.0,1014.0,18.0,5.0,13.0,1012.0,8.0,False,True,General,2343.0
26,1738,2017-07-30,2,32221,16186,5727,False,Super Market,26.0,6.000000,1017.0,19.0,16.0,282.0,15.0,1015.0,21.0,8.0,13.0,1013.0,10.0,False,False,General,2343.0
27,1738,2017-07-31,2,32221,16186,5727,True,Super Market,27.0,5.000000,1016.0,29.0,18.0,58.0,16.0,1012.0,21.0,6.0,14.0,1007.0,3.0,False,True,General,2343.0
28,1738,2017-08-01,2,32221,16186,5727,True,Super Market,20.0,6.000000,1011.0,11.0,17.0,249.0,16.0,1009.0,18.0,5.0,15.0,1007.0,3.0,False,True,General,2343.0
29,1738,2017-08-02,2,32221,16186,5727,True,Super Market,22.0,7.000000,1015.0,27.0,19.0,289.0,17.0,1010.0,19.0,8.0,16.0,1008.0,5.0,False,True,General,2343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22970,1004,2017-12-05,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22971,1004,2017-12-06,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22972,1004,2017-12-07,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22973,1004,2017-12-08,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22974,1004,2017-12-09,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22975,1004,2017-12-10,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,General,11805.0
22976,1004,2017-12-11,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22977,1004,2017-12-12,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22978,1004,2017-12-13,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22979,1004,2017-12-14,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22980,1004,2017-12-15,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22981,1004,2017-12-16,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22982,1004,2017-12-17,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,General,11805.0
22983,1004,2017-12-18,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22984,1004,2017-12-19,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22985,1004,2017-12-20,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22986,1004,2017-12-21,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22987,1004,2017-12-22,2,32221,16186,5727,True,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22988,1004,2017-12-23,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22989,1004,2017-12-24,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,General,11805.0
22990,1004,2017-12-25,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22991,1004,2017-12-26,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22992,1004,2017-12-27,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22993,1004,2017-12-28,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,General,11805.0
22994,1004,2017-12-29,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,General,11805.0
22995,1004,2017-12-30,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22996,1004,2017-12-31,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,General,11805.0
22997,1004,2018-01-01,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22998,1004,2018-01-02,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0
22999,1004,2018-01-03,2,32221,16186,5727,False,Hyper Market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,General,11805.0

In [67]:
# add to all_data df the missing values range for 'storeid'
all_data = pd.concat([all_data, df_region2], axis=0, ignore_index=True, sort=True)

all_data = all_data\
.sort_values(by=['Region', 'StoreID', 'Date'], ascending=[False, False, True])\
.reset_index().drop('index', axis=1)

print(all_data.shape)

(637710, 33)

In [68]:
print('TODO:')
all_data[all_data.Region == '2'].isna().any()

TODO:

AssortmentType                 True
CloudCover                     True
Date                          False
Events                         True
HasPromotions                  True
IsHoliday                     False
IsOpen                        False
Max_Dew_PointC                 True
Max_Humidity                   True
Max_Sea_Level_PressurehPa      True
Max_TemperatureC               True
Max_VisibilityKm               True
Max_Wind_SpeedKm_h             True
Mean_Dew_PointC                True
Mean_Humidity                  True
Mean_Sea_Level_PressurehPa     True
Mean_TemperatureC              True
Mean_VisibilityKm              True
Mean_Wind_SpeedKm_h            True
Min_Dew_PointC                 True
Min_Humidity                   True
Min_Sea_Level_PressurehPa      True
Min_TemperatureC               True
Min_VisibilitykM               True
NearestCompetitor              True
Precipitationmm                True
Region                        False
Region_AreaKM2                False
Region_GDP                    False
Region_PopulationK            False
StoreID                       False
StoreType                      True
WindDirDegrees                 True
dtype: bool

## New Features

### Store is open and is holiday
This feature has been added for those stores that are open during holidays: we want to inspect if the sales are higher in those days

In [ ]:
is_open_holiday = all_data.IsHoliday & all_data.IsOpen
all_data['Hol_and_open'] = is_open_holiday

In [ ]:
# For plotting reasons
holidays_open_mask = train.IsHoliday & train.IsOpen
open_mask = train['IsOpen'] == True
not_holidays_mask =  train['IsHoliday'] == False
not_holidays_open_mask = not_holidays_mask & open_mask

df_holidays_open = train[holidays_open_mask].groupby("StoreID")
avg_sales_holidays = df_holidays_open.NumberOfSales.mean()
avg_sales_holidays.plot(figsize=(16,8),legend=True,marker='o')

df_not_holidays_open = train[not_holidays_open_mask].groupby("StoreID")
avg_sales_not_holidays = df_not_holidays_open.NumberOfSales.mean()
avg_sales_not_holidays = avg_sales_not_holidays.filter(items = avg_sales_holidays.index)
avg_sales_not_holidays.plot(figsize=(16,8),legend=True,marker='o');

### Region's population density

In [ ]:
all_data['Region_PD'] = all_data.Region_PopulationK.div(all_data.Region_AreaKM2, axis=0)

In [ ]:
plot_PD = all_data.groupby("Region").Region_PD.mean().sort_values(ascending=False)\
        .plot(kind='bar', title='Population Density', figsize=(16,8));
plot_PD.set_ylabel("K people / squared Km");

## Seasonality features

In [ ]:
# obtain weeks
weeks = all_data[['Date']].groupby(pd.Grouper(key='Date', freq='W')).sum().reset_index()

all_data['week_of_month'] = (weeks.Date.dt.day - 1) // 7 + 1 # number of the week in the month

all_data['year'] = all_data.Date.dt.year
all_data['month'] = all_data.Date.dt.month
all_data['day_of_month'] = all_data.Date.dt.day
all_data['day_of_week'] = all_data.Date.dt.dayofweek
all_data['day_of_year'] = all_data.Date.dt.dayofyear
all_data['WeekOfYear'] = all_data.Date.dt.weekofyear
all_data['days_in_month'] = all_data.Date.dt.daysinmonth

## One-Hot encoding

In [ ]:
all_data = pd.get_dummies(all_data,columns=['Region','AssortmentType', 'StoreType', 'Events'])

## New Features Holidays

In [ ]:
def num_of_features(regional_week_year, week, year, column_of_interest):
    num_holidays = 0

    if week == 1:
        week_before = [52,year-1]
        week_after = [2,year]
    if week == 52:
        week_after = [1,year+1]
        week_before = [51,year]
    if (week>1) & (week<52):
        week_before = [week-1,year]
        week_after = [week+1,year]
    
    before_df = regional_week_year[(regional_week_year['WeekOfYear']==week_before[0])&
                                  (regional_week_year['year']==week_before[1])]
    
    after_df = regional_week_year[(regional_week_year['WeekOfYear']==week_after[0])&
                                  (regional_week_year['year']==week_after[1])]
    this_df = regional_week_year[(regional_week_year['WeekOfYear']==week)&
                                 (regional_week_year['year']==year)]
    
    num_ago = before_df[before_df[column_of_interest]][column_of_interest].sum()
    num_next = after_df[after_df[column_of_interest]][column_of_interest].sum()
    num_this = this_df[this_df[column_of_interest]][column_of_interest].sum()
    
    return num_ago, num_next, num_this

def create_new_features(before,current,after,column_of_interest):
    all_data[before] = 0
    all_data[current] = 0
    all_data[after] = 0

    region_list= ["Region_"+str(d) for d in range(0,11)]
    for region in tqdm(region_list):
        curr_region = all_data[all_data[region]==1]

        #get all valid dates of that region
        regional_week_year=curr_region[['WeekOfYear','year',column_of_interest]]

        #get all store ids of that region
        regional_stores=len(curr_region['StoreID'].unique())

        week_year_list =regional_week_year[['WeekOfYear','year']].drop_duplicates().values.tolist()

        for date in week_year_list:
            num_ago,num_next,num_this = num_of_features(regional_week_year,
                                                        date[0],
                                                        date[1],
                                                        column_of_interest)

            all_data.at[((all_data['WeekOfYear']==date[0])&
                         (all_data['year']==date[1])),before]=int(num_ago/regional_stores)
            all_data.at[((all_data['WeekOfYear']==date[0])&
                         (all_data['year']==date[1])),after]=int(num_next/regional_stores)
            all_data.at[((all_data['WeekOfYear']==date[0])&
                         (all_data['year']==date[1])),current]=int(num_this/regional_stores)

In [ ]:
create_new_features('HolidaysWeekBefore', 'HolidaysWeekCurrent', 'HolidaysWeekAfter','IsHoliday')
create_new_features('PromoWeekBefore', 'PromoWeekCurrent', 'PromoWeekAfter', 'HasPromotions')

## Restore Train and Test Set

In [ ]:
train_final = all_data[:train.shape[0]].copy()
train_final['NumberOfSales'] = train.NumberOfSales
train_final['NumberOfCustomers'] = train.NumberOfSales

# extract the test examples (we don't have the class value for this)
test_final = all_data[train.shape[0]:]

In [ ]:
march_2016  = datetime.date(2016,3,31)
monthly_sales['Differential'] = 0        
        
for storeID, store in tqdm(monthly_sales.groupby('StoreID')):
    monthly_sales.loc[store.index,'one_step'] = store['NumberOfSales'].shift(1).fillna(0)
    monthly_sales.loc[store.index,'two_steps'] = store['NumberOfSales'].shift(2).fillna(0)

In [ ]:
train_final['Differential'] = 0

#correct one step in april
april_mask = monthly_sales.Date.dt.month == 4
year_mask = monthly_sales.Date.dt.year == 2016
monthly_sales.loc[year_mask & april_mask,'one_step'] = 0

#compute differential
monthly_sales['Differential'] = monthly_sales['one_step'] - monthly_sales['two_steps']
pippo = monthly_sales[['StoreID','Date','Differential']]

#longest for ever - more than 10 mins - there must be a better way..
for index,row in tqdm(pippo.iterrows()):
    differential = row.Differential
    month = row.Date.month
    year = row.Date.year
    store = row.StoreID
    month_mask = train_final.Date.dt.month == month
    year_mask = train_final.Date.dt.year == year
    store_mask = train_final.StoreID == store
    
    train_final.loc[store_mask & year_mask & month_mask,'Differential'] = differential

In [ ]:
# train_final.to_csv(data_path_out+'train_final.csv')
# test_final.to_csv(data_path_out+'test_final.csv')

# Serialize dataframes for later use in implementations
with open(data_path_out+'train_pp.obj', 'wb') as file:
        pickle.dump(train_final, file)
# with open(data_path_in+'test_pp.obj', 'wb') as file:
#         pickle.dump(test_clean, file)